<h1 class="formAddd" >Categories</h1>

 <br><br>

<form class="category" action="/categories" method="POST">


  {{#each categories}} 
  {{#if checked}}

    <input checked type="checkbox" value="{{_id}}" name="{{name}}" id="{{name}}" />
    <label for="{{name}}">{{name}}</label>
    {{else}}
    <input  type="checkbox" value="{{_id}}" name="{{name}}" id="{{name}}" />
    <label for="{{name}}">{{name}}</label>
  
  
  {{/if}}

    
  {{/each}}



   <button class="button-green" type="submit">Save</button>
  </form>