<h1 class="formAdd" >Categories</h1>

 <br><br>

 <div class="cat" >

<form class="category" action="/categories" method="POST">


  {{#each categories}} 
  {{#if checked}}

    <input checked type="checkbox" value="{{_id}}" name="{{name}}" id="{{name}}" />
    <label for="{{name}}"><img src="{{imageSelected}}" alt=""></label>
    {{else}}
    <input  type="checkbox" value="{{_id}}" name="{{name}}" id="{{name}}" />
    <label for="{{name}}"><img src="{{imageSelected}}" alt=""></label>
  
  
  {{/if}}

    
  {{/each}}

</div>
<br><br><br>

   <button class="button-green log" type="submit">Save</button>
  </form>