<div id="form">
  <h2>Edit Form</h2>
  <form action="/profile/{{name._id}}/edit" method="POST" enctype="multipart/form-data">

    <label for="title">
      Title
      <input type="text" name="title" placeholder="title" value="{{name.title}}"/>
    </label>

    <label for="url">
      URL
      <input type="url" name="url" placeholder="url" value="{{name.url}}"/>
    </label>

    <label for="description">
      Description
      <input type="text" name="description" placeholder="description" value="{{name.description}}"/>
    </label>

    <label for="imageUrl">
      Image:
        <input type="file" name="imageUrl" placeholder="image" value="{{name.image}}"/>
    </label>

       

    <label for="categories">Choose a News Category</label>
      <select name="categories">
        {{#each categories}}
        {{#if chosenCat}}
        <option value="{{_id}}" selected>{{name}}</option>
        {{else}}
        <option value="{{_id}}" >{{name}}</option>
        {{/if}}
       {{/each}}
      </select>
      </label>
   
    <button type="submit">Edit</button>

  </form>

  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}}
</div>