<div class="container" id="form">
  <h2 class="formAdd" >Edit Form</h2>
  <form action="/profile/{{name._id}}/edit" method="POST" enctype="multipart/form-data">

    <label class="fields" for="title">
      Title
      <input class="input-bottom-line log" type="text" name="title" placeholder="title" value="{{name.title}}"/>
    </label>

    <br><br>

    <label class="fields" for="url">
      URL
      <br><br>
      <input class="input-bottom-line log" type="text" name="url" placeholder="url" value="{{name.url}}"/>
    </label>

    <br><br>

    <label class="fields" for="description">
      Description
      <input class="input-bottom-line log" type="text" name="description" placeholder="description" value="{{name.description}}"/>
    </label>

    <br><br>

    <label class="fields" for="imageUrl">Image:</label>

    <br><br>

    <input  type="file" name="imageUrl" placeholder="image" value="{{name.image}}"/>

    <br><br>

    <label class="fields" for="categories">Choose a News Category</label>
      <br><br>
      <select class="input-bottom-line log" name="categories">
        {{#each categories}}
        {{#if chosen}}
        <option value="{{_id}}" selected>{{name}}</option>
        {{else}}
        <option value="{{_id}}" >{{name}}</option>
        {{/if}}
       {{/each}}
      </select>
      </label>

      <br><br>
   
    <button class="button-green" type="submit">Edit</button>

  </form>

  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}}
</div>