<form action="/" method="post">
{{!-- filtering --}}
</form>

{{!-- dynamic navbar --}}
<div>
    <img src="{{user.image}}" alt="">
    <h2>{{user.name}}</h2>
    <a href="/profile">Profile</a>
    <a href="/categories">Edit Categories</a>
    <a href="/logout">Logout</a>
</div>

{{!-- newsfeed --}}

<div class="flexCenter">
<table class="widthLimit">
    
    {{#each name}}
    <tr>
    <td class="newsBox">
        <div class="grid2Col">
        <div class="grid">
            <h3>{{this.title}}</h3>
            {{!-- <p>{{this.description}}</p> --}}
            <p><span>Category: {{this.category}}</span> <span>Country: {{this.country}}</span></p>
        </div>
        {{#if this.image}}
           <img src="{{this.image}}" alt="{{this.title}}">
        {{else}}
            <img src="https://www.bag.admin.ch/bag/en/home/das-bag/aktuell/news/news-02-08-2021/_jcr_content/image.imagespooler.png/1646310847290/588.1000/Icons-18.png" alt="{{this.title}}">
        {{/if}}
        </div>
      
            <div class="flexWithSpace">
            <a class="iconButton" href="{{this.url}}"><img src="/images/link.png" alt=""></a>
            <form class="saveFav" action="/user/save/{{this._id}}" method="post">

                <button class="iconButton" type="submit">
                {{#if this.saved}}  
                    <img class="saveIcon saved" src="" alt="">
                    {{else}}
                    <img class="saveIcon unsaved" src="" alt="">
                {{/if}}
                </button>
            </form>
        </div>
      
       
    </td> 
    </tr>
    <tr class="spaceBetweenRows savedArticles">
    </tr>
    {{/each}}
</table>

{{!--- Pagination ---}}
<div class="widthLimit flexSpaceBetween">
<a href="/?page={{prevPage}}&perPage={{perPage}}">Prev</a>
<a href="/?page={{nextPage}}&perPage={{perPage}}">Next</a>
</div>
