<form action="/" method="post">
{{!-- filtering --}}
</form>

{{!-- dynamic navbar --}}
<div>
    <img src="{{user.image}}" alt="">
    <h2>{{user.name}}</h2>
    <a href="/profile">Profile</a>
    <a href="/categories">Edit Categories</a>
    <a href="/logout">Logout</a>
</div>

{{!-- newsfeed --}}
{{#each name}}
<div id="{{this._id}}">
    {{#if this.image}}
       <img src="{{this.image}}" alt="{{this.title}}">
    {{/if}}
    <h2>{{this.title}}</h2>
    <p>{{this.published_at}}</p>
    <p>{{this.description}}</p>
    <p><span>Source:{{this.source}}</span> <span>Category:{{this.category.name}}</span> <span>Country:{{this.country}}</span></p>
    <a href="{{this.url}}">Read the article</a>
    
    <form class="saveFav" action="/user/save/{{this._id}}" method="post">
    <button  type="submit">Save</button>
    </form>
</div>
{{/each}}

{{!--- Pagination ---}}

<a href="/?page={{prevPage}}&perPage={{perPage}}">Prev</a>
<a href="/?page={{nextPage}}&perPage={{perPage}}">Next</a>

