<form action="/" method="post">
{{!-- filtering --}}
</form>

{{!-- dynamic navbar --}}
  

<div class="expanded-menu hide">
    <img class="roundImage menuProfileIconSpace" src="{{user.image}}" alt="">
    <h2>{{user.name}}</h2>
    <a class="links" href="/profile">Profile</a>
    <a class="links" href="/categories">Edit Categories</a>
    <a class="links" href="/logout">Logout</a>
</div>

<div class="center">
<div class="lines">
  <div class="line1 noAnimation"></div>
  <div class="line2 noAnimation"></div>
  <div class="line3 noAnimation"></div>
</div>
</div>
{{!-- newsfeed --}}

<div class="flexCenter newsfeedTopSpace">
<table class="widthLimit">
    
    {{#each name}}
    <tr>
    <td class="newsBox">
        <div class="grid2Col">
        <div class="grid">
            <h3>{{this.title}}</h3>
            {{!-- <p>{{this.description}}</p> --}}
            <p><span>Category: {{this.category}}</span> <span>Country: {{this.country}}</span></p>
        </div>
        {{#if this.image}}
           <img src="{{this.image}}" alt="{{this.title}}">
        {{else}}
            <img src="https://heuft.com/upload/image/400x267/icons_news_heuft_400x267px.png" alt="{{this.title}}">
        {{/if}}
        </div>
      
            <div class="flexWithSpace">
            <a class="iconButton" href="{{this.url}}"><img src="/images/link.png" alt=""></a>
            <form class="saveFav" action="/user/save/{{this._id}}" method="post">

                <button class="iconButton" type="submit">
                {{#if this.saved}}  
                    <img class="saveIcon saved" src="" alt="">
                    {{else}}
                    <img class="saveIcon unsaved" src="" alt="">
                {{/if}}
                </button>
            </form>
        </div>
      
       
    </td> 
    </tr>
    <tr class="spaceBetweenRows savedArticles">
    </tr>
    {{/each}}
</table>

{{!--- Pagination ---}}
<div class="widthLimit flexSpaceBetween">
<a class="navigationLinks" href="/?page={{prevPage}}&perPage={{perPage}}">Prev</a>
<a class="navigationLinks" href="/?page={{nextPage}}&perPage={{perPage}}">Next</a>
</div>
