<a href="/">Go to Newsfeed</a>
<div class="flexCenter">
<img class="roundImage" src="{{user.image}}" alt="{{user.name}}"> 
<h2>{{user.name}}</h2>
</div>
<div class="flexEnd">
    <a href="/profile/add"><img src="/images/add-button.png" alt=""></a>
    <p>Add Article</p>
</div>

<nav class="flexBlackBackground">
    <h3 id="savedButton" class="chosen">Saved</h2>
    <h3 id="myArticlesButton">My Articles</h2>
</nav>
<div class="flexCenter">
<table class="widthLimit">
    
    {{#each savedArticles}}
    <tr class="savedArticles">
    <td class="newsBox">
        <div class="grid2Col">
        <div class="grid">
            <h3>{{this.title}}</h3>
            <p>{{this.published_at}}</p>
            {{!-- <p>{{this.description}}</p> --}}
            <p><span>Category: {{this.category.name}}</span> <span>Country: {{this.country}}</span></p>
        </div>
        {{#if this.image}}
           <img src="{{this.image}}" alt="{{this.title}}">
        {{else}}
            <img src="https://www.bag.admin.ch/bag/en/home/das-bag/aktuell/news/news-02-08-2021/_jcr_content/image.imagespooler.png/1646310847290/588.1000/Icons-18.png" alt="{{this.title}}">
        {{/if}}
        </div>
      
            <div class="flexWithSpace">
            <a class="iconButton" href="{{this.url}}"><img src="/images/link.png" alt=""></a>
            <form action="/user/unsave/{{this._id}}" method="post">
                <button class="iconButton" type="submit"><img src="/images/bookmark saved.png" alt=""></button>
            </form>
        </div>
      
       
    </td> 
    </tr>
    <tr class="spaceBetweenRows savedArticles">
    </tr>
    {{/each}}
     
     {{!-- my Articles --}}
      {{#each userArticles}}
    <tr class="myArticles hide">
    <td class="newsBox">
        <div class="grid2Col">
        <div class="grid">
            <h3>{{this.title}}</h3>
            <p>{{this.published_at}}</p>
            {{!-- <p>{{this.description}}</p> --}}
            <p><span>Category: {{this.category.name}}</span></p>
        </div>
        {{#if this.image}}
           <img src="{{this.image}}" alt="{{this.title}}">
        {{/if}}
        </div>
      
            <div class="flexWithSpace">
            <a class="link" href="{{this.url}}"><img src="/images/link.png" alt=""></a>
            <a class ="iconButton" href="/profile/{{this._id}}/edit"><img src="/images/edit.png" alt=""></a>
            <form action="/profile/{{this._id}}/delete" method="post">
                <button class="iconButton" type="submit"><img src="/images/delete.png" alt=""></button>
            </form>
        </div>
      
       
    </td> 
    </tr>
    <tr class="spaceBetweenRows">
        
    </tr>
    {{/each}}

</table>
</div>
