<img src="{{user.image}}" alt=""> <span>{{user.name}}</span>
<nav>
    <h2 id="saved">Saved</h2>
    <h2 id="myArticles">My Article</h2>
</nav>
<div class>
    {{#each savedArticles}}
    <div>
        {{#if this.image}}
           <img src="{{this.image}}" alt="{{this.title}}">
        {{/if}}
        <h2>{{this.title}}</h2>
        <p>{{this.published_at}}</p>
        <p>{{this.description}}</p>
        <p><span>Source:{{this.source}}</span> <span>Category:{{this.category.name}}</span> <span>Country:{{this.country}}</span></p>
        <a href="{{this.url}}">Read the article</a>
        <form action="/user/unsave/{{this._id}}" method="post">
        <button type="submit">Unsave</button>
        </form>
        
    </div>
    {{/each}}
</div>

<div class="hidden">
    <a href="/profile/add">Add Article</a>

    {{#each userArticles}}
    <div>
        {{#if this.image}}
           <img src="{{this.image}}" alt="{{this.title}}">
        {{/if}}
        <h2>{{this.title}}</h2>
        <p>{{this.published_at}}</p>
        <p>{{this.description}}</p>
        <p><span>Source:{{this.source}}</span> <span>Category:{{this.category.name}}</span> <span>Country:{{this.country}}</span></p>
        <a href="{{this.url}}">Read the article</a>
        <a href="/profile/{{this._id}}/edit">Edit</a>
        <form action="/profile/{{this._id}}/delete" method="post">
        <button type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
</div>


